@import url("https://fonts.googleapis.com/css2?family=Marcellus:wght@400&family=DM+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "DM Sans", sans-serif;
}

p, span, li, label, a {
  font-weight: 400;
  letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
}

button, input, optgroup, select, textarea {
  font-weight: 400;
  letter-spacing: 0.2px;
}

a:hover, button:hover {
  cursor: pointer;
}
